
{% extends "base.html" %}
{% block content %}
{%load static%}
<div class="app-title">
    <div>
      <h1><i class="bi bi-table"></i>Attendance DAta</h1>
      
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">employee</li>
      <li class="breadcrumb-item active"><a href="#">Attendance</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
               <th>contact_number</th>  
                <th>created_date </th>  
                <th>total_days </th> 
                <th> attendance_days  </th>  
                <th> month  </th>  
                <th>  year  </th>  
                 <th> Action   </th>  
                </tr>
              </thead>
              <tbody>
                {% for attend in data%}
                    <tr>
                    <td>  {{attend.user.name }}   </td> 
                    <td>  {{attend.created_date  }}   </td> 
                    <td> {{attend.total_days  }}   </td> 
                    <td>  {{attend.attendance_days  }}   </td>
                    <td> {{attend.month  }}  </td> 
                    <td> {{attend.year  }}   </td> 
                    <td>  Show | Delete  </td>  
                    
                    </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> 
 
  {% endblock %}

  {% block script %}
 <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css">
  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
 
  <script>
    new Vue({
      delimiters: ['[[', ']]'], // Use custom 
      el: '#app',
      data: {
        Menu:[],
        message: '',
        responce_data: '!'
      },
      methods: {
        
      },
      mounted(){
        this.Menu = menuview()
          console.log(this.Menu)
        
        }
    }); 
    
 
 

    //alert(getData('/api/employee/employee/'))
 
</script>
{% endblock %}
 