
{% extends "base.html" %}
{% block content %}
{%load static%}
<div class="app-title"  >
    <div>
      <h1><i class="bi bi-table"></i>Employee Salary  list </h1>
      
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">employee</li>
      <li class="breadcrumb-item active"><a href="#">Employee list</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
              
                <th> first_name   </th>  
                <th>  Emp Code   </th> 
               
                <th>salary </th>  
               
                <th>PF Deductiion </th> 
                 <th>ESI Eeduction </th> 
                <th>DRA </th> 
                 <th>HRA</th>
                   <th>CA </th>
                   <!-- numpy
                   artmetic calucatins 
                   pandas
                   vectros
                   nlp -->

                  <th>MA</th>
                <th>SA</th>
              <th>Total </th>



                   
                  <!-- <th> Actipns </th>   -->
                

                </tr>
              </thead>
              <tbody>
                <tr v-for="(edata, index) in savesalary_data"  > 
                             
                <td > [[savesalary_data[index].first_name ]] [[edata.last_name]]</td> 
               <td>  [[savesalary_data[index].employee_code]]   </td> 

 
             <td ><input  style="width: 100px;" class="form-control" @input="calculater(savesalary_data[index])"  v-model="savesalary_data[index].BasicSalary" value="" type="number" ></td> 
              <td  > <input  style="width: 100px;"  class="form-control"  @input="calculater(savesalary_data[index])"  v-model="savesalary_data[index].pf_deductiion" value="" readonly type="number" > </td> 
                 <td  > <input  style="width: 100px;"  class="form-control" @input="calculater(savesalary_data[index])"   v-model="savesalary_data[index].esi_deduction" value="" readonly type="number" > </td> 
                 <td  >  <input  style="width: 100px;" @input="calculater(savesalary_data[index])"  v-model="savesalary_data[index].DearnessAllowance" value="" type="number" > </td> 



              <td  > <input  style="width: 100px;"  @input="calculater(savesalary_data[index])"  class="form-control"  v-model="savesalary_data[index].HouseRentAllowance" value="" type="number" >  </td> 
                <td  > <input  style="width: 100px;"  @input="calculater(savesalary_data[index])"  class="form-control"  v-model="savesalary_data[index].ConveyanceAllowance" value="" type="number" >  </td> 
                <td  >  <input  style="width: 100px;"  @input="calculater(savesalary_data[index])"  class="form-control"  v-model="savesalary_data[index].MedicalAllowance" value="" type="number" > </td> 
                <td  > <input  style="width: 100px;"  @input="calculater(savesalary_data[index])"  class="form-control"  v-model="savesalary_data[index].SpecialAllowance" value="" type="number" >  </td> 
              <td  style="color:red" >  <input class="form-control"  style="width: 100px;"  readonly v-model="savesalary_data[index].netSal" value="" type="number" > </td> 
 
 

                     
                  <!-- <td    v-if="edata.empsalary=='nosalary'"   @click="newAmployee([[edata.id]])"> Save    </td>
                      <td    v-else> Update    </td> -->
                </tr>
                <tr>
                  <td colspan="10"><td><button @click="saveSalary" class="btn btn-success">Save</button></td></td>
                </tr>
              
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div> 
 
  {% endblock %}

  {% block script %}
 <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css">
  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script> 
  <script>
    new Vue({
      delimiters: ['[[', ']]'], // Use custom 
      el: '#app',
      data: {
        Menu:[],
        message: '',
        responce_data: [],
        savesalary_data:[],
        company: JSON.parse(localStorage.getItem("Token")),
      },
      
    
      
      methods: {


        calculater(obj) {
          
           pf = obj.pf_deductiion = (parseInt(obj.BasicSalary)/100)*parseInt(this.company.company.pf_persentage) 
           esi = obj.pf_deductiion = (parseInt(obj.BasicSalary)/100)*parseInt(this.company.company.esi_persentage) 
           obj.pf_deductiion = pf
           obj.esi_deduction = esi
           totaldicuctions = pf+esi
           basci= (parseFloat(obj.BasicSalary)-parseFloat(totaldicuctions))            
           obj.netSal =(basci+parseFloat(obj.ConveyanceAllowance)+parseFloat(obj.DearnessAllowance)+parseFloat(obj.HouseRentAllowance)+parseFloat(obj.MedicalAllowance)+parseFloat(obj.Professionaltax)+parseFloat(obj.SpecialAllowance)+parseFloat(obj.TaxDeductedatSource)).toFixed(2)
 
        },
        saveSalary(){
           
            for(l=0;l<this.savesalary_data.length; l++ ){

              
              //  axios.post()
              if(this.savesalary_data[l].BasicSalary>0 & this.savesalary_data[l].sal_status ==1){
              
                 this.savesalary_data[l].employee_code =  this.savesalary_data[l].user
                 console.log( this.savesalary_data[l])
                 url = "http://"+$("#base_url").val()+"/api/salary/salary/"
                
                 axios.post(url,this.savesalary_data[l], config )
                 .then((responce)=>{

                  window.location.reload()
                 })
                 .catch((error) => {

                 console.log(error)
                 })

              }
            }




        },
        getEmpDAta(){
        const URL = "http://"+$("#base_url").val()+'/api/employee/employee/'
        axios.get(URL, config)
        .then(response => {
          data = response.data
          this.responce_data = data
          
         
       
          for(i=0;i<data.length; i++){  
         if("nosalary" == this.responce_data[i].empsalary){ 
             saldata = {
            
            "sal_status": 1,
            "first_name": this.responce_data[i].first_name,
            "BasicSalary"  : 0,
            "ConveyanceAllowance":"0",
            "DearnessAllowance":  "0",
            "HouseRentAllowance":"0",
            "MedicalAllowance":"0",
            "Professionaltax" : "00.00",
            "SpecialAllowance" :  "0",
            "TaxDeductedatSource": "00.00","company":1,  
            "employee_code" : this.responce_data[i].employee_code, 
            "user":this.responce_data[i].id,
            "esi_deduction" :  "0", 
              "netSal":   "0", 
              "pf_deductiion" :  "0",
              "company":this.company.company.id,
              
          } 

           

          this.savesalary_data.push(saldata)
            }
            else{ 
              console.log(this.responce_data)
             saldata = {
                  
                  "sal_status":0,
                  "first_name": this.responce_data[i].first_name,
                  "BasicSalary"  :this.responce_data[i].empsalary[0].BasicSalary,
                  "ConveyanceAllowance":this.responce_data[i].empsalary[0].ConveyanceAllowance,
                  "DearnessAllowance":  this.responce_data[i].empsalary[0].DearnessAllowance,
                  "HouseRentAllowance":this.responce_data[i].empsalary[0].HouseRentAllowance,
                  "MedicalAllowance":this.responce_data[i].empsalary[0].MedicalAllowance,
                  "Professionaltax" :this.responce_data[i].empsalary[0].Professionaltax,
                  "SpecialAllowance" : this.responce_data[i].empsalary[0].SpecialAllowance,
                  "TaxDeductedatSource":this.responce_data[i].empsalary[0].TaxDeductedatSource,
                   "company":this.responce_data[i].empsalary[0].company,  
                  "employee_code" : this.responce_data[i].employee_code, 
                  "esi_deduction" : this.responce_data[i].empsalary[0].esi_deduction, 
                  "netSal":  this.responce_data[i].empsalary[0].netSal, 
                  "pf_deductiion" :this.responce_data[i].empsalary[0].pf_deductiion,
                  "company": this.responce_data[i].company,
                  
          } 
         
          this.savesalary_data.push(saldata)
        

            }
         

          } 
           
        })
        .catch((error) => {
          
            console.log('error ' + error);
        });
        },

        newAmployee:function(uid){
          localStorage.setItem("salry_user_id", uid);
          window.location.href = "/newsalary";  
        }
      
      },
      mounted(){
        this.Menu = menuview()

          console.log(this.Menu)
          this.getEmpDAta()
          
        }
    }); 
    
     
   
</script>
{% endblock %}
 