
{% extends "base.html" %}
{% block content %}
{%load static%}
<div class="app-title"  >
    <div>
      <h1><i class="bi bi-table"></i>Settings  </h1>
      
    </div>
    
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">Company</li>
      <li class="breadcrumb-item active"><a href="#"> Settingst</a></li>
    </ul>
  </div> 
  
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Company Settings</h3>
        <div class="tile-body">
          <div class="table-responsive">
            <div class="row">
              <div class="col-lg-6">
                <form>
                  <div class="mb-3">
                    <label class="form-label" for="exampleInputEmail1">Name </label>
                    <input class="form-control" v-model="company_data.name"  type="text" aria-describedby="name" placeholder="Enter name">
                    <!-- <small class="form-text text-muted" id="emailHelp">We'll never share your name with anyone else.</small> -->
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="exampleInputPassword1">Phone</label>
                    <input class="form-control"   v-model="company_data.phone"   type="text" placeholder="Phone">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="exampleSelect1">Email  </label>
                    <input class="form-control"  v-model="company_data.email"    type="email" placeholder="Email">
                  </div>
                  <div class="mb-3">
                    <label class="form-label" for="exampleSelect2">Logo</label>
                    <br>
                    <img  @click="logoChange"  id="logo" :src="company_data.logo"    @error="imageUrlAlt">
                    <input class="form-control" style="display: none;" id="logobrowse"   accept="image/*"  @change=changeImage type="file" placeholder="logo">
                    
                  </div>
                   
                  
                  
                </form>
              </div>


              <div class="col-lg-4 offset-lg-1">
                <form>
                  <div class="mb-3">
                    <fieldset >
                      <label class="form-label" >Pf(%) </label>
                      <input class="form-control"  v-model="company_data.pf_persentage"    type="text"  placeholder="PF persantage" >
                    </fieldset>
                  </div>
                  <div class="mb-3">
                    <fieldset>
                      <label class="form-label" for="readOnlyInput">Esi(%)</label>
                      <input class="form-control"  v-model="company_data.esi_persentage"   type="text" placeholder="Esi persantage" >
                    </fieldset>
                  </div> 
                   
                </form> 
             <br> <br>    <br> <br><input @click="update_setting" style="float: right;" class="btn btn-primary" type="button" value="save">
              </div>
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </div> 

 
  <div class="row">
    <div class="tile">
      <div class="tile-body">
        <div class="table-responsive">
             
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
            
              <th> Title   </th>  
              <th>  start date   </th> 
              <th>  End Date  </th>  
              
              <th> image  </th> 
                
              </tr>
            </thead>
            <tbody>
              
                
                  <tr v-for="(value, index ) in company_notifications" >
                
                    <th> Title   </th>  
                    <th>  start date   </th> 
                    <th>  End Date  </th>  
                    
                    <th> image  </th> 
                  </tr>
                 

                  <tr >
                
                    <th> <input  class="form-control"  type="text">   </th>  
                    <th>  <input class="form-control"   type="date">   </th> 
                    <th> <input  class="form-control"  type="date"> </th>  
                    
                    <th> <input  class="form-control"  type="file">   </th> 
                  </tr>
                  <tr>
                    <td colspan="4"><button  class="btn btn-primary" style="float: right;" > Save </button></td>
                  </tr>
                
                <tbody>
              </tbody>
              </table>

          </div>
          </div>
          </div>
  
  
   </div>
 
  {% endblock %}

  {% block script %}
  

  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script> 
  <script>
     
    new Vue({
      delimiters: ['[[', ']]'], // Use custom 
      el: '#app',
      data: {
        formData : new FormData(),
        Menu:[],
        company_data :{"name":'', 'email': '', "phone":'','logo':'' },
        company_notifications :[],
        company_newnotifications:[{}],
        
        message: '',
        
        company: JSON.parse(localStorage.getItem("Token")),
        url : "api/employee/employeefamaly/"

      },
      methods: {
      getcompanyData(){
        
        this.company_data['name']= this.company.company.name
        this.company_data['email']= this.company.company.email
        this.company_data['phone']= this.company.company.phone
        this.company_data['logo']= this.company.company.logo
        this.company_data['logo_state']= "notchanged"
        this.company_data['pf_persentage']= this.company.company.pf_persentage
        this.company_data['esi_persentage']= this.company.company.esi_persentage
       
      },
      imageUrlAlt(event) {
        event.target.src = "/static/images/freelogo.png"
    },
    logoChange(){
      document.getElementById('logobrowse').click()
    },
    update_setting(){
  
       url = "http://"+$("#base_url").val()+"/api/company/company/"+this.company.company.id+"/"
       
      //  this.company_data['name']= this.company.company.name
      //   this.company_data['email']= this.company.company.email
      //   this.company_data['phone']= this.company.company.phone
      //   this.company_data['logo']= this.company.company.logo
      //   this.company_data['logo_state']= "notchanged"
      //   this.company_data['pf_persentage']= this.company.company.pf_persentage
      //   this.company_data['esi_persentage']= this.company.company.esi_persentage
      // },
        data =  { 
          "name": this.company_data['name'], 
          "address": "atesrt",
          "phone": this.company_data['phone'],
          "email": this.company_data['email'],
          
          "pf_persentage":this.company_data['pf_persentage'],
          "esi_persentage": this.company_data['esi_persentage']
        }
        if(this.company_data['logo_state']== "changed"){
          data["logo"]= this.company_data['logo']
        } 
       config.headers['content-type']='multipart/form-data'
       console.log(this.formData)
       axios.put(url,  data,config)
       .then((response) => {
           alert("company Updated Successfully")
           window.location = "/login"
        }).catch((error) => {
            console.log(error)
        })

    },
    notification(){

      url =  "http://"+$("#base_url").val()+"/api/company/companynofications/" 
      axios.get(url, config)
      .then((resoponce)=>{
           
           this.company_notifications =resoponce.data
           

      })
      .catch((error)=>{
        console.log(error)
      })
    },
    changeImage(e){
      const image = e.target.files; 
       this.company_data['logo'] = image[0]
      this.formData.append('logo', image[0])
      this.company_data['logo_state'] = "changed"
    } 
      
      },
      mounted(){
        this.Menu = menuview()
          console.log(this.Menu)
          this.getcompanyData()
          this.notification()
       
          
        }
    }); 
    
    
</script>
{% endblock %}
 