{% extends "base.html" %}
{% block content %}
{%load static%}

 <div class="app-title">
        <div>
          <h1><i class="bi bi-speedometer"></i> Blank Page</h1>
          <p>Start a beautiful journey here</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
          <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">Create a beautiful dashboard</div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block script %}
      <script>
        new Vue({
          delimiters: ['[[', ']]'], // Use custom 
          el: '#app',
          data: {
            Menu:[],
            message: '',
            responce_data: '!'
          },
          methods: {
            
          },
          mounted(){
            this.Menu = menuview()
              console.log(this.Menu)
            
            }
        }); 
        
     
     
    
        //alert(getData('/api/employee/employee/'))
     
    </script>

      {% endblock %}