{% extends "base.html" %}
{% block content %}
{%load static%}

 <div class="app-title">
        <div>
          <h1><i class="bi bi-speedometer"></i> Blank Page</h1>
          <p>Start a beautiful journey here</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
          <li class="breadcrumb-item"><a href="#">Blank Page</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              

              <div class="row">
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small primary coloured-icon"><i class="icon bi bi-people fs-1"></i>
                    <div class="info">
                      <h4>Empolyes</h4>
                      <p><b>5</b></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small info coloured-icon"><i class="icon bi bi-heart fs-1"></i>
                    <div class="info">
                      <h4>Total users</h4>
                      <p><b>25</b></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small warning coloured-icon"><i class="icon bi bi-folder2 fs-1"></i>
                    <div class="info">
                      <h4>Uploades</h4>
                      <p><b>10</b></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="widget-small danger coloured-icon"><i class="icon bi bi-star fs-1"></i>
                    <div class="info">
                      <h4>Stars</h4>
                      <p><b>500</b></p>
                    </div>
                  </div>
                </div>
              </div>






              <div class="row">
                <div class="col-md-6">
                  <div class="tile">
                    <h3 class="tile-title">Monthly Sales</h3>
                    <div class="ratio ratio-16x9">
                      <canvas id="salesChart" width="754" height="376" style="display: block; box-sizing: border-box; height: 376px; width: 754px;"></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="tile">
                    <h3 class="tile-title">Support Requests</h3>
                    <div class="ratio ratio-16x9 d-flex justify-content-center">
                      <canvas id="supportRequestChart" width="763" height="763" style="display: block; box-sizing: border-box; height: 763px; width: 763px;"></canvas>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      {% endblock %}

      {% block script %}

      <script type="text/javascript" src="{% static 'js/plugins/chart.js' %}"></script>

      <script>
        new Vue({
          delimiters: ['[[', ']]'], // Use custom 
          el: '#app',
          data: {
            Menu:[],
            message: '',
            responce_data: '!'
          },
          methods: {
            
          },
          mounted(){
            this.Menu = menuview()
              console.log(this.Menu)
            
            }
        }); 
        
     
     
    
        //alert(getData('/api/employee/employee/'))
     
    </script>
      <script type="text/javascript">
        const salesData = {
          type: "line",
          data: {
            labels: [
              "Jan",
              "Feb",
              "March",
              "April",
              "May",
              "June",
            ],
            datasets: [{
              label: 'Monthly Sales',
              data: [65, 59, 80, 81, 56, 55, 40],
              fill: false,
              borderColor: 'rgb(75, 192, 192)',
              tension: 0.1
            }]
          }
        }
        
        const supportRequests = {
          type: "doughnut",
          data: {
            labels: [
              'In-Progress',
              'Complete',
              'Delayed'
            ],
            datasets: [{
              label: 'Support Requests',
              data: [300, 50, 100],
              backgroundColor: [
                '#EFCC00',
                '#5AD3D1',
                '#FF5A5E'
              ],
              hoverOffset: 4
            }]
          }
        };
        
        const salesChartCtx = document.getElementById('salesChart');
        new Chart(salesChartCtx, salesData);
        
        const supportChartCtx = document.getElementById('supportRequestChart');
        new Chart(supportChartCtx, supportRequests);
      </script>
      {% endblock %}