
{% extends "base.html" %}
{% block content %}
{%load static%}
<div class="app-title"  >
    <div>
      <h1><i class="bi bi-table"></i>Employee list </h1>
      
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">employee</li>
      <li class="breadcrumb-item active"><a href="#">Employee list</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
              
                <th> first_name   </th>  
                <th>  last_name   </th> 
                <th>  husband_Father  </th>  
                <th> relation_name   </th>  
                <th>  gender          </th>  
                <th>  contact_number  </th>  
               
                <th>  aadhar_number   </th>  
                <th>   uan_number      </th> 
                <th>     pan_number      </th>  
               
                <th> pf_no           </th> 
                  <th> Actipns </th>  
                

                </tr>
              </thead>
              <tbody>
                <tr v-for="edata in responce_data"  >
                 
                  <td> [[edata.first_name]]   </td> 
                  <td>  [[edata.last_name]]   </td>
                  <td> [[edata.husband_Father]]  </td> 
                  <td> [[edata.relation_name]]   </td> 
                  <td>  [[edata.gender]]          </td> 
                  <td>  [[edata.contact_numbe]] </td> 
                  
                  <td>  [[edata.aadhar_number  ]]   </td> 
                  <td>   [[edata.uan_number  ]]      </td>
                  <td>     [[edata.pan_number  ]]      </td> 
                 <td      > [[edata.pf_no ]]</td> 
                  <td> Show | Delete   </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> 
 
  {% endblock %}

  {% block script %}
 <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css">
  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script> 
  <script>
    new Vue({
      delimiters: ['[[', ']]'], // Use custom 
      el: '#app',
      data: {
        Menu:[],
        message: '',
        responce_data: '!',
        company: JSON.parse(localStorage.getItem("Token")),
      },
      methods: {
        getEmpDAta(){
        const URL = "http://"+$("#base_url").val()+'/api/employee/employee/?company='
        console.log(URL+this.company.company.id)
        axios.get(URL+this.company.company.id, config)
        .then(response => {
          data = response.data  
          this.responce_data =  data            
          return responce_obj
        })
        .catch((error) => {
          
            console.log('error ' + error);
        });
        },
      
      },
      mounted(){
        this.Menu = menuview()
          console.log(this.Menu)
          this.getEmpDAta()
          
        }
    }); 
    
    $('#sampleTable').DataTable(); 
 
</script>
{% endblock %}
 