
{% extends "base.html" %}
{% block content %}
{%load static%}
<div class="app-title"  >
    <div>
      <h1><i class="bi bi-table"></i>Employee list </h1>
      
    </div>
    
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">employee</li>
      <li class="breadcrumb-item active"><a href="#">Employee list</a></li>
    </ul>
  </div>
<a href="/api/download/" class="btn btn-primary" type="button ">Shample Format</a>
   
<!-- <input type="file"   @change="onFileChange" name="Bulk Upload"  />  -->
<button  class="btn btn-primary" style="cursor:pointer" @click="btn">Bulk Import</button>
<input type="file"  @change="onFileChange"  id="inputField" style="display:none">
<button   class="btn btn-primary" style="cursor:pointer" @click="exportfile">Export</button>
<!-- <button   class="btn btn-primary" style="cursor:pointer" @click="idcards">Id cards</button> -->
<a  :href="DownloadEmployeeIdCards"  class="btn btn-primary" type="button ">Download ID Cards</a>
  
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
                  <th> Sl No :  </th>  
                <th> name   </th>  
               
                <th>  contact_number  </th>  
                <th>  husband_Father  </th>  
                <th> relation_name   </th>  
                <th>  gender          </th>  
                <th>  aadhar_number   </th>  
             
                <th>     pan_number      </th>  
              
                <th> uan number            </th> 
                  <th>     esi_number      </th>  
                   <th>     Added By      </th>  
                  <th> Actions </th>  
                

                </tr>
              </thead>
              <tbody>
                <tr v-for="(edata, index) in responce_data"  >
                  <td> [[index+1]]   </td>  
                  <td class="expand-button"> [[edata.first_name]]  </td> 
                 
                  <td>  [[edata.phone]] </td> 
                  <td> [[edata.husband_Father]]  </td> 
                  <td> [[edata.relation_name]]   </td> 
                  <td>  [[edata.gender]]          </td> 
                
                  
                  <td>  [[edata.aadhar_number  ]]   </td> 
                  
                  <td>     [[edata.pan_number  ]]      </td> 
                 <td      > [[edata.pf_no ]]</td> 
                 <td      > [[edata.esi_no ]]</td>
                  <td      > [[edata.addedbyname ]]</td>
                  <td>  
                   
                  
                    
                     <div class="btn-group">  
                      <a  v-bind:href="'/employeedetails?id='+[[edata.id]]" class="btn btn-primary btn-sm" type="button"  ><i class="bi bi-reply fs-5"></i></a>
                      <button class="btn btn-primary btn-sm" type="button" @click="deleteemp(edata.id)"  :id="edata.id"  ><i class="bi bi-trash fs-5"></i></button>
                    
                      <a class="btn btn-primary btn-sm" type="button"   :href="'/famaly?emiid='+edata.id"><i class="bi bi-share fs-5" ></i></a>
                     
                    </div>
                    
                    
                    </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> 
 

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          hihi
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block script %}
  

  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script> 
  <script>
     
    new Vue({
      delimiters: ['[[', ']]'], // Use custom 
      el: '#app',
      data: {
        Menu:[],
        message: '',
        responce_data: '',
        company: JSON.parse(localStorage.getItem("Token")),
        DownloadEmployeeIdCards:""
      },
      methods: {
        famaly(empid){
          
          alert(empid)

        },
        btn(){
         
          document.getElementById('inputField').click();
          

        },
        exportfile(){

        },
       
        deleteemp(e){  
          var result = confirm("Are you sure you want to delete this Employee?");
    if (result) {
        // Code to delete the item
         
          const URL = "http://"+$("#base_url").val()+'/api/employee/employee/'+ e+"/"
          axios.delete(URL , config)
          .then(response => {
            location.reload();

          }).catch(error => {
        // Handle errors (if any)
        console.error('Error uploading file:', error);
      });

    } else {
        // User chose not to delete
    }   
             
        },
      onFileChange(event) {
      
      // Save the selected file to the component's data
      this.selectedFile = event.target.files[0];
       
      const formData = new FormData();
      formData.append('file', this.selectedFile);
      formData.append('company', this.company.company.id);

      axios.post('/api/upload/', formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Accept': 'application/json, application/xml, text/plain, text/html, *.*',
        }
      })
      .then(response => {
        location.reload()
        // Handle the response from the server (if needed)
        console.log('File uploaded successfully:', response.data);
      })
      .catch(error => {
        // Handle errors (if any)
        console.error('Error uploading file:', error);
      });
    },
        getEmpDAta(){
         
        
       
        if(this.company.roles == "Admin"){
          
          var URLPATH  = "http://"+$("#base_url").val()+'/api/employee/employee/?company='+this.company.company.id 
        }
        if(this.company.roles == "SubAdmin"){
          var URLPATH  = "http://"+$("#base_url").val()+'/api/employee/employee/?company='+this.company.company.id+"&addedby="+this.company.id
        }

       
        axios.get(URLPATH, config)
        .then(response => {
          data = response.data  
          this.responce_data =  data            
          return responce_obj
        })
        .catch((error) => {
          
            console.log('error ' + error);
        });
        },

        idcards(){
        const URL = "http://"+$("#base_url").val()+'/api/idcards/?company='
        console.log(URL+this.company.company.id)
        axios.get(URL+this.company.company.id, config)
        .then(response => {
          
        })
        .catch((error) => {
          
            console.log('error ' + error);
        });
                 

        }
      
      },
      mounted(){
        this.Menu = menuview()
          
          this.getEmpDAta()
          this.DownloadEmployeeIdCards = "http://"+$("#base_url").val()+'/api/idcards/?company='+this.company.company.id
          console.log(this.company)
          
        }
    }); 
    
    $('#sampleTable').DataTable(); 
  
</script>
{% endblock %}
 