
{% extends "base.html" %}
{% block content %}
{%load static%}
<div class="app-title"  >
    <div>
      <h1><i class="bi bi-table"></i>Employee Salary  list </h1>
      
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item">employee</li>
      <li class="breadcrumb-item active"><a href="#">Employee list</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered" id="sampleTable">
              <thead>
                <tr>
              
                <th> first_name   </th>  
                <th>  Emp Code   </th> 
               
                <th>salary </th>  
               
                <th>pf_deductiion </th> 
                 <th>esi_deduction </th> 
                <th>DearnessAllowance </th> 
                 <th>HouseRentAllowance </th>
                   <th>ConveyanceAllowance </th>
                   <!-- numpy
                   artmetic calucatins 
                   pandas
                   vectros
                   nlp -->

                  <th>MedicalAllowance </th>
                <th>SpecialAllowance </th>
              <th>Total </th>



                   
                  <th> Actipns </th>  
                

                </tr>
              </thead>
              <tbody>
                <tr v-for="edata in responce_data"  >                 
                <td > [[edata.first_name]] [[edata.last_name]]</td> 
                <td>  [[edata.employee_code]]   </td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].BasicSalary ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].pf_deductiion ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].esi_deduction ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].DearnessAllowance ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].HouseRentAllowance ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].ConveyanceAllowance ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].MedicalAllowance ]]</td> 
                <td  > [[(edata.empsalary=='nosalary')? "---": edata.empsalary[0].SpecialAllowance ]]</td> 
                <td  style="color:red" > [[(edata.empsalary=='nosalary')? "---":  edata.empsalary[0].netSal ]]</td> 



                     
                  <td    v-if="edata.empsalary=='nosalary'"   @click="newAmployee([[edata.id]])"> AddNew    </td>
                      <td    v-else> Show|Delete    </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> 
 
  {% endblock %}

  {% block script %}
 <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css">
  <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script> 
  <script>
    new Vue({
      delimiters: ['[[', ']]'], // Use custom 
      el: '#app',
      data: {
        Menu:[],
        message: '',
        responce_data: []
      },
      methods: {
        getEmpDAta(){
        const URL = "http://"+$("#base_url").val()+'/api/employee/employee/'
        axios.get(URL, config)
        .then(response => {
          data = response.data
          this.responce_data =  data  
         
            
        })
        .catch((error) => {
          
            console.log('error ' + error);
        });
        },

        newAmployee:function(uid){
          localStorage.setItem("salry_user_id", uid);
          window.location.href = "/newsalary";  
        }
      
      },
      mounted(){
        this.Menu = menuview()

          console.log(this.Menu)
          this.getEmpDAta()
          
        }
    }); 
    
     
   
</script>
{% endblock %}
 